In [5]:
TRUE & FALSE

[1] FALSE

In [6]:
TRUE | FALSE

[1] TRUE

In [7]:
x <- 4
y <- 200
x*y

[1] 800

In [8]:
typeof(x)

[1] "double"

In [9]:
n = c(2, 3, 5) 
s = c("aa", "bb", "cc") 
b = c(TRUE, FALSE, TRUE) 
df = data.frame(n, s, b)

In [10]:
df

  n s  b
1 2 aa  TRUE
2 3 bb FALSE
3 5 cc  TRUE

In [14]:
c(1, 2, 3, 4, 5)
c("1", "2", "3")
typeof(c("1", "2", "3"))

[1] 1 2 3 4 5

[1] "1" "2" "3"

[1] "character"

In [27]:
w <- c("TRUE", "FALSE", "TRUE")
v <- c(TRUE,2,3.4, FALSE)
w
v

[1] "TRUE"  "FALSE" "TRUE"

[1] 1.0 2.0 3.4 0.0

In [23]:
t <- c(4, "beta", TRUE) 
t

[1] "4"    "beta" "TRUE"

In [31]:
x <- c(2,3,4,5,6)
y <- c(x,10,11)
x
y

[1] 2 3 4 5 6

[1]  2  3  4  5  6 10 11

In [34]:
length(x)
mean(x)
length(w)
mean(w)

[1] 5

[1] 4

[1] 3

Warning message in mean.default(w):
“argument is not numeric or logical: returning NA”

[1] NA

In [40]:
familia <- c("Anna", "Augusto", "Juliana")
amigos <- c("Vinagre", "Miura", "Victor", "Beatriz")
familia
amigos

[1] "Anna"    "Augusto" "Juliana"

[1] "Vinagre" "Miura"   "Victor"  "Beatriz"

In [43]:
x <- 1:6
x
x < 4
x < mean(x)

[1] 1 2 3 4 5 6

[1]  TRUE  TRUE  TRUE FALSE FALSE FALSE

[1]  TRUE  TRUE  TRUE FALSE FALSE FALSE

In [45]:
x <- c(7, 9, 12)
names(x) <- c("São Paulo", "Ceará", "Pernambuco")
x

 São Paulo      Ceará Pernambuco
         7          9         12

In [51]:
x <- c("a", "b", "c", "d", "e")
x[1] #primeira posição do vetor
x[1:3]
x[c(5,1)]

[1] "a"

[1] "a" "b" "c"

[1] "e" "a"

In [56]:
x > "c"
x[c(FALSE, FALSE, FALSE, TRUE, TRUE)]
x[x > "c"]

[1] FALSE FALSE FALSE  TRUE  TRUE

[1] "d" "e"

[1] "d" "e"

In [60]:
x <- c(-2, -1, 0, 1, 2, 3, 4, 5)
x >= 0
x >= 0 & x >= 3
x[ x>=0 & x<3]
y <- x[ x>=0 & x<3]
y

[1] FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE

[1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE

[1] 0 1 2

[1] 0 1 2

In [63]:
favoritos <- c(familia[1:3], amigos[c(1, 3)]) 
favoritos

[1] "Anna"    "Augusto" "Juliana" "Vinagre" "Victor"

In [74]:
y <- c("a", "b", "a", "b", "a") 
y [-1]
y[2:length(y)]
y[c(-1,-3)]
y <- y[-1 : -3] 
y

[1] "b" "a" "b" "a"

[1] "b" "a" "b" "a"

[1] "b" "b" "a"

[1] "b" "a"

In [80]:
set.seed (1234) #random number generator
x1 <- rnorm(5)
x1
x2 <- rnorm(20, mean = 0.5)
x2

[1] -1.2070657  0.2774292  1.0844412 -2.3456977  0.4291247

 [1]  1.006055892 -0.074739960 -0.046631856 -0.064451999 -0.390037829
 [6]  0.022807300 -0.498386445 -0.276253895  0.564458817  1.459494059
[11]  0.389714506 -0.011009506 -0.411195417 -0.337171680  2.915835178
[16]  0.634088220  0.009314103  0.059452128  0.959589441 -0.193720247

In [86]:
x1[x1 < 0]
x2[x2 > 1]
x2[1:5]
x2[length(x2)]
x2[c(-5, -15)]

[1] -1.207066 -2.345698

[1] 1.006056 1.459494 2.915835

[1]  1.00605589 -0.07473996 -0.04663186 -0.06445200 -0.39003783

[1] -0.1937202

 [1]  1.006055892 -0.074739960 -0.046631856 -0.064451999  0.022807300
 [6] -0.498386445 -0.276253895  0.564458817  1.459494059  0.389714506
[11] -0.011009506 -0.411195417 -0.337171680  0.634088220  0.009314103
[16]  0.059452128  0.959589441 -0.193720247

In [95]:
x <- c("a", "b", "c", "d", "e")  
y <- c("a", "b", "a", "b", "a")
'b' %in% y
match('b', x) #devolve posição em que se encontra o caracter
match('b', y)
match(c('b','d','k'), x)
x[1] <- "w"
x
x[2:3] <- c("o", "o")
x
x[1:3] <- "w"
x

[1] TRUE

[1] 2

[1] 2

[1]  2  4 NA

[1] "w" "b" "c" "d" "e"

[1] "w" "o" "o" "d" "e"

[1] "w" "w" "w" "d" "e"

In [96]:
 x <- c(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
x[1:5] <- c(100,200) #como solucionar?

Warning message in x[1:5] <- c(100, 200):
“número de itens para para substituir não é um múltiplo do comprimento do substituto”

In [99]:
x <- 1:20
x[30] <- 100
x

 [1]   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18  19
[20]  20  NA  NA  NA  NA  NA  NA  NA  NA  NA 100

In [100]:
x <- c("a", "b", "a", "b", "a")
x[x == "b"] <- "z"
x

[1] "a" "z" "a" "z" "a"

In [103]:
x <- c(1,2,3,4,5,6,7,8,9,10,11)
x[x > 5] <- 0
x

 [1] 1 2 3 4 5 0 0 0 0 0 0

In [111]:
x1 <- c(-1.2, 0.27, 1.08, -2.34, 0.42)
x2 <- c(18, 20, 21, 20, 24, 26, 27, 25, 24, 26, 26, 24, 23, 22, 40,
30)
20 %in% x2
match(24, x2)
x1[3] <- 5
x1
x1[1:2] <- c(1, 2)
x1
x2[x2 == 24] <- 0
x2

[1] TRUE

[1] 5

[1] -1.20  0.27  5.00 -2.34  0.42

[1]  1.00  2.00  5.00 -2.34  0.42

 [1] 18 20 21 20  0 26 27 25  0 26 26  0 23 22 40 30

In [118]:
counts <- c(1, 2, NA, 5, NA, 3)
is.na(counts)
which(is.na(counts))
counts[!is.na(counts)]
counts <- counts[!is.na(counts)]
mean(counts)
mean(counts, na.rm = TRUE ) #na.rm calcula a média considerando apenas os dados existentes

[1] FALSE FALSE  TRUE FALSE  TRUE FALSE

[1] 3 5

[1] 1 2 5 3

[1] 2.75

[1] 2.75

In [121]:
animales <- c("cachorro", "porco", "coelho", NA, "porco", NA, "cachorro")
table(animales)
table(animales, useNA="ifany")

animales
cachorro   coelho    porco
       2        1        2

animales
cachorro   coelho    porco     <NA>
       2        1        2        2